.body{
  position:fixed;
}
.modal-dialog{
  overflow-y: initial !important;
}
#sfl-body{
  position: absolute;
  top:100px;
  bottom:0px;
  width:100%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction:column;
  padding:1%;
}
#welcome{
  flex: 0 0 auto;
}
#content{
  flex: 0 0 auto;
  overflow:hidden;
}
#sfl-footer{
  position: relative;
  flex: 1 1 auto;
  background: url("./logo.svg");
  background-repeat: no-repeat;
  background-origin: content-box;/*Make image respect padding*/
}
#titleButtons{
  height:40px;
}
.otter-logo{
  height:40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
